<h2>Finish your registration</h2>

<%= form_for(resource, :as => resource_name, :url => confirm_path, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <%= f.hidden_field :confirmation_token %>

  <div><%= f.submit "Create my account" %></div>
<% end %>

<%= render "devise/shared/links" %>
