<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <hr>


  <p> Anonymity </p>
  <div><%= f.check_box :anonComments, :style => "float:left;" %>
  <%= f.label :anonComments, "Anonymous comments?" %> </br> </div>

  <div><%= f.check_box :anonReviews, :style => "float:left;" %>
  <%= f.label :anonReviews, "Anonymous reviews?" %> </div>

  <hr>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <hr>

  <div><%= f.submit "Update" %></div>
<% end %>


<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
