<% if admin_signed_in? %>
  <%= link_to '<i class="icon-remove"></i>'.html_safe, comment_path(comment.id), method: :delete, confirm: 'Are you sure you want to remove this comment?' %>
<% end %>
<%= div_for(comment, class: "span12") do %>
  <div class="row-fluid">
      <div class ="user"> 
        <% if is_anonymous %>
          Anonymous
        <% else %>
          <%= link_to(current_user.name, current_user) %>
        <% end %>
      </div>
      <div class="created_at">
        <%= comment.created_at.strftime("%a %B %d, %Y, %H:%M") %>
      </div>
      <div class="content">
        <%= comment.content %>
      </div>
      <div class="new-reply">
      </div>
      
      <div class="actions">
        <%= link_to "Reply", comment_comment_reply_path(comment), remote: true %>
      </div>
  </div>
<% end %>
<div class="replies">
      <%= render comment.children %>
</div>
