<%= simple_form_for([@course, @review, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user, :value => current_user %>
  <%= f.input :content %>

  <div class="form-actions">
    <%= f.submit "Add comment", class: 'btn btn-success' %>
    <%= current_user.anonComments? ? 'as anonmous' : "as #{current_user.name}" %>
  </div>
<% end %>
