<%= simple_form_for(@reply, url: comment_comment_new_reply_path(@comment)) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :content %>
  <%= f.hidden_field :review_id, :value => @reply.parent.review.id %>

  <%= f.submit "Add comment", class: 'btn btn-success' %>
<% end %>
