<h2><i class="icon-user"></i> Sign up for an account</h2>

<p>It's super easy and just take a few seconds!</p>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, label: false, placeholder: 'hans@tum.de', type: 'email', input_html: {id: 'sign_up_email'} %>

  <%= f.submit "Sign up", class: "btn btn-success" %>
<% end %>

<%= render "devise/shared/links" %>
