<h2><i class="icon-key"></i> Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email, input_html: {id: 'sign_in_email'} %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean %>
  <% end -%>

  <div><%= f.submit "Sign in", class: "btn btn-success" %></div>
<% end %>
