<h1>Profile</h1>
<% user = current_user %>
<p> <%=user.name%> </p> </br>
<p> Registered: <%= user.remember_created_at %> </p> </br>
<p> Last login: <%=user.last_sign_in_at %> </p> </br>


<%= link_to "Edit profile", edit_user_registration_path %>
