<% if departments.empty? %>
  No departments added yet
<% else %>
  <table class="table">
    <thead>
      <th>Rank</th>
      <th>Name</th>
      <th>No. of courses</th>
    </thead>
    <tbody>
      <% departments.each_with_index do |department, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to department.name, department %></td>
          <td><%= department.courses.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>