<h1>
  <i class="icon-search"></i>
  <input id="department-search" type="search" placeholder="Search departments" class="span8 pull-left">
  </h1>
<hr>
<h1>Departments</h1>
<hr>
<%= render partial: 'departments/departments', locals: { departments: @departments } %>
