<div class="login_signup_form">
  <div class="row-fluid span12">
    <div class="span6">
      <%= render "devise/shared/sign_up_form" %>
    </div>
    <div class="span6 divisor">
      <%= render "devise/shared/sign_in_form" %>
    </div>
  </div>
</div>