<% if courses.empty? %>
  No courses added yet
<% else %>
  <table class="table">
    <thead>
      <th>Rank</th>
      <th>Name</th>
      <th>Lecturer</th>
      <th>Department</th>
      <th>Course number</th>
    </thead>
    <tbody>
      <% courses.each_with_index do |course, index| %>
        <tr>
          <td><%= index + 1 %></td>    
          <td><%= link_to course.name, course %></td>
          <td><%= course.lecturer %></td>
          <td><%= link_to course.department.name, course.department %></td>
          <td><%= course.course_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>