<%= simple_nested_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Base information</legend>
  <%= f.input :name %><br />
  <%= f.input :course_number %>
  <%= f.input :department_id, collection: Department.all.collect { |d| [d.name, d.id] } %>
  <%= f.input :lecturer %>
  <%= f.input :description %>

  <%= f.fields_for :rating_entities do |rt_form| %>
    <%= rt_form.input :name %>
    <%= rt_form.input :description %>
    <%= rt_form.link_to_remove "Remove this entity" %>
  <% end %>
  <p>
    <%= f.link_to_add "Add a rating entity", :rating_entities %>
  </p>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
