<h1>
  <i class="icon-search"></i>
  <input id="course-search" type="search" placeholder="Search courses" class="span8 pull-left">
  </h1>
<hr>

<h1><i class="icon icon-trophy"></i>  Top 5 rated courses</h1>
<%= render partial: 'courses/courses', locals: { courses: @courses[0..4] } %>

<h1><i class="icon icon-time"></i>  Recent reviews</h1>
<%= render partial: 'reviews/reviews', locals: {reviews: @reviews[0..4] } %>