<h1>
  <% if admin_signed_in? %>
    <%= link_to '<i class="icon-remove"></i>'.html_safe, course_path(@course), method: :delete, confirm: 'Are you sure you want to remove this course?' %>
  <% end %>

  <%= @course.name %> (<%= @course.course_number %>)
</h1>
<p>
  <%= @course.description %>
</p>
<hr>
<h2>Reviews</h2>
<% @course.reviews.sort_by(&:votes_for).reverse.each do |review| %>
  <b>
    <%= link_to review.title, course_review_path(@course, review) %>
    |
    <i class='icon-thumbs-up'></i>
    <%= "#{review.votes_for}" %>
    <i class='icon-thumbs-down'/></i>
    <%= "#{review.votes_against}" %>
  </b>
  <p>
    <%= review.text %><br />
    (<%= l review.created_at, format: :long %>)
  </p>
<% end %>
<hr>
<%= link_to "Add review", new_course_review_path(@course), class: 'btn btn-primary' %>
