// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 300px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #CCC),
      color-stop(1, #F5F5F5)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #CCC 0%,
      #F5F5F5 100%
  );
}

.comment .content a{
  color: #000;
  text-decoration: none;
}

.comment .content {
  clear: both;
}

.comment .created_at {
  color: #555;
  font-size: 12px;
  float: right;
}

.comment .user {
  color: #555;
  font-size: 12px;
  float: left;
}

.comment .actions {
  font-size: 12px;
  margin-top: 5px;
}

.comment .actions a {
  text-decoration: none;
}

.replies {
  margin-left: 50px;
}

.replies .replies .replies .replies {
  margin-left: 0px;
}