$primary_color: #3299BB;
$secondary_color: #FF9900;

$dark_grey_color: #424242;
$grey_color: #BCBCBC;
$light_grey_color: #E9E9E9;

$white: #fff;
$grey_border: darken($white, 10%);

body {
  background: $light_grey_color;
  font-family: 'Open Sans', sans-serif;
  color: $dark_grey_color;
}

h1, h2, h3, h4 {
  color: $grey_color;
  margin-top: 0px;
  padding-top: 0px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  color: $primary_color;
}

textarea {
  height: 150px;
}

.navbar {
  margin: 20px 0px;
  .navbar-inner {
    padding: 0;
    ul.nav {
      li {
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

header.logo-container {
  margin-top: 50px;
  
  a {
    color: $dark_grey_color;
  }
  .logo {
    line-height: 36px;
    font-size: 36px;
    padding: 24px 0px;

    i {
      color: $secondary_color;
    }
  }

  .top-banner {
    font-size: 24px;
    line-height: 24px;
    padding: 30px 0px;
    text-align: center;
  }
}

.white-container {
  background: $white;
  border: 1px solid $grey_border;
}

.content {

  .white-container {
    padding: 40px;
  }

  .side-banners {
    text-align: center;
    font-size: 24px;
    padding: 30px 0px;

    .text {
      -webkit-transform: rotate(-90deg);
    }
  }
}

.hover {
  cursor: pointer;
}

.stars {
  i {
    font-size: 20px;

    &.icon-star {
      color: $secondary_color;
    }
  }
}

.login_div {
	float: right;
	color: #C0C0C0;
	a:link {color:#FF0FF0;} 
}

.hidden {
  display: none;
}