<%= simple_form_for([@course, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>
    Review information
  </legend>
  <%= f.input :title, label: false, placeholder: "Title" %>
  <%= f.input :text, label: false, placeholder: "Written review" %>

  <legend>
    Ratings
  </legend>
  <%= f.fields_for :ratings do |ratings_form| %>
    <%= ratings_form.input :rating_entity_id, as: :hidden, value: ratings_form.object.rating_entity.id %>
    <%= ratings_form.input :score, label: ratings_form.object.rating_entity.name, hint: ratings_form.object.rating_entity.description, as: :stars, num_of_stars: 5 %>
  <% end %>


  <div class="form-actions">
    <%= f.submit 'Create review', class: 'btn btn-success' %>
    <%= current_user.anonReviews? ? 'as anonmous' : "as #{current_user.name}" %>
  </div>
<% end %>
