<% if reviews.empty? %>
  No reviews has been written yet. That means you can be first!
<% else %>
  <table class="table">
    <thead>
      <th>Course</th>
      <th>Course number</th>
      <th>Author</th>
      <th>Title</th>
      <th>Posted</th>
    </thead>
    <tbody>
      <% reviews.each_with_index do |review, index| %>
        <tr>
          <td><%= link_to review.course.name, review.course %></td>
          <td><%= review.course.course_number %></td>
          <td>
            <% if review.user.try(:anon_reviews?) or !review.user %>
              Anonymous
            <% else %>
              <%= review.user.name %></td>
            <% end %>
          <td><%= review.title %></td>
          <td><%= time_ago_in_words review.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>