<h1>New without course</h1>

<%= simple_form_for(@review, url: reviews_create_blank_path) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>
    1. Please select a department
  </legend>

  <div class="row-fluid">
    <%= select_tag "department_id", options_from_collection_for_select(Department.all, "id", "name"), class: 'span8', placeholder: "Please choose a department", include_blank: true %>
  </div>
  <hr>
  <div class="course hidden">
    <div class="row-fluid">
      <legend>
        2. Select a course
      </legend>
    </div>

    <div class="row-fluid">
      <%= select_tag "course_id", nil, class: 'span8', placeholder: "Please select a course", include_blank: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Continue', class: 'btn btn-success' %>
  </div>
<% end %>