<h1>
  <% if admin_signed_in? %>
    <%= link_to '<i class="icon-remove"></i>'.html_safe, course_review_path(@review.course.id, @review.id), method: :delete, confirm: 'Are you sure you want to remove this review?' %>
  <% end %>
  
  <%= @review.title %>
      |
    <i class='icon-thumbs-up'></i>
    <%= "#{@review.votes_for}" %>
    <i class='icon-thumbs-down'/></i>
    <%= "#{@review.votes_against}" %>
</h1>
<div class="row-fluid">
  <div class="span12">
    <%= @review.text %>
  </div>
</div>
<h3>Ratings</h3>
<% @review.ratings.each do |rating| %>
  <div class="row-fluid">
    <div class="span3">
      <%= rating.rating_entity.name %>
    </div>
    <div class="span5 stars">
      <% rating.score.to_i.times do |star| %>
        <i class="icon-star"></i>
      <% end %>
      <% (5 - rating.score.to_i).times do |star| %>
        <i class="icon-star-empty"></i>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @review.user == current_user %>
  <hr>
  <%= link_to vote_for_course_review_path(@course, @review), method: :post, class: 'btn ' + (current_user.voted_for?(@review) ? 'btn-success' : '') do %>
    <i class="icon-thumbs-up"></i>
  <% end %>
  <%= link_to vote_against_course_review_path(@course, @review), method: :post, class: 'btn ' + (current_user.voted_against?(@review) ? 'btn-danger' : '') do %>
    <i class="icon-thumbs-down"></i>
  <% end %>
  <% if current_user and !current_user.flagged_reviews.include?(@review) %>
    <%=link_to 'Flag this as inappropriate', flag_course_review_path(@course, @review), method: :post %>
  <% else %>
    You already flagged this review
  <% end %>
<% end %>

<hr>

<h2>Comments</h2>

<%= render @review.comments.roots %>

<h3>Add comment</h3>
<%= render "comments/form" %>
