<% if universities.empty? %>
  No universities added yet
<% else %>
  <table class="table">
    <thead>
      <th>Rank</th>
      <th>Name</th>
      <th>No. departments</th>
      <th>No. courses</th>
    </thead>
    <tbody>
      <% universities.each_with_index do |university, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to university.name, university %></td>
          <td><%= university.departments.count %></td>
          <td><%= university.courses.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>