<h1>
  <i class="icon-search"></i>
  <input id="university-search" type="search" placeholder="Search universities" class="span8 pull-left">
  </h1>
<hr>
<h1>Universities</h1>
<hr>
<%= render partial: 'universities/universities', locals: { universities: @universities } %>
