<ul class="nav row-fluid">
  <li class="span3">
    <%= link_to "About us", about_us_path %>
  </li>
  <li class="span3">
    <%= link_to "Privacy policy", privacy_path %>
  </li>
  <li class="span3">
    <%= link_to "Terms & Conditions", toc_path %>
  </li>
</ul>
