<ul class="nav row-fluid">
  <li class="span3">
    <%= link_to "Add review", reviews_new_path %>
  </li>
  <li class="span3">
    <%= link_to "Courses", courses_path %>
  </li>
  <li class="span3">
    <%= link_to "Departments", departments_path %>
  </li>
  <li class="span3">
    <%= link_to "Universities", universities_path %>
  </li>
</ul>
