<div class="row">
  <div class="span12 text-right">
    <% if user_signed_in? %>
      Logged in as <%= link_to current_user.name, user_path(current_user) %>, <%= link_to "Log out", destroy_user_session_path, :method => :delete %>

    <% elsif admin_signed_in? %>
      <span class="label label-warning">Admin</span>
      Logged in as <%= current_admin.email %>, <%= link_to "Log out", destroy_admin_session_path, :method => :delete %>

    <% else %>
    	<div class="login_div">
  			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%> |
 			<%= link_to "Sign in", user_session_path %> |
 		 	<%= link_to "Register Now!", new_user_registration_path %>
		</div>
	<% end %>
  </div>
</div>
