<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Just Rate" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="main" role="main">
      <div class="container">
        <%= render 'layouts/user' %>
        <header class="logo-container">
          <div class="row-fluid">
            <%= link_to root_url do %>
              <div class="logo span4">
                <i class="icon-star"></i>
                Just Rate
              </div>
            <% end %>
            <div class="top-slogan span5">
            </div>
            <div class="top-banner span3 white-container">
              Banner
            </div>
          </div>
        </header>
        <header class="navbar">
          <nav class="navbar-inner">
            <div class="container">
              <%= render 'layouts/navigation' %>
            </div>
          </nav>
        </header>
        <div class="content">
          <div class="span9">
            <%= render 'layouts/messages' %>
          </div>
          <div class="row-fluid">
            <div class="span9 yield-container white-container">
              <%= yield %>
            </div>
            <div class="span3 side-banners white-container">
              B<br />
              a<br />
              n<br />
              n<br />
              e<br />
              r<br />
              s
            </div>
          </div>
          <footer>
            <div class ="container"
            <%= render 'layouts/footernav' %>
          </div>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>